{"filter":false,"title":".gitignore","tooltip":"/web-app-695/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":0},"end":{"row":3,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1720223592071,"hash":"db34e198cf5f108e6449b5136ed3eaf29f6dd942"}